/* Tweet formatting */
.tweet {
  /* font-size: 20px; */
  font-family: Arial, Helvetica, sans-serif;
  color: white;
  background-color: #15202b;
  margin-top: 1vh;
  padding-left: 1vw;
  transition: box-shadow 0.3s;
  border-radius: 7px;
  line-height: 1.8;
}
.tweet:hover {
  background-color: #15202b;
  box-shadow: 0 0 10px 0 #15202b;
}
.tweet .at, .tweet .hashtag, .tweet .url{
  color: rgb(27, 149, 224);
}
.tweet > a{
  color: white;
  text-decoration: none;
}
.tweet > a:visited{
  /* font-size: 12px; */
}

.mp-tweet-generator-button button{
  display: inline-block;
  background-color: #fc0d1b;
  color: white;
  padding: 2px 10px 2px 10px;
  margin: 10px 0;
  border-radius: 10px;
  border-width: 0;
  /* font-family: $header-font-stack; */
  font-size: 20px;
  transition:  0.3s  ease-in-out;
  font-weight: normal;
  text-transform: uppercase;

}
.mp-tweet-generator-button button:hover {
    text-decoration: none;
    background-color: #950912;
}
.mp-tweet-generator-button button:visited {
    color: white;
}

.mp-tweet-generator-loading{
  max-width: 2em;
}
.mp-tweet-generator-loading.hide{
  display: none;
}
.mp-tweet-generator-loading.show{
  display: inline;
}
