{% load static %}
{% load markdownify %}
{% if theme == "dark" %}
<link rel="stylesheet" href="{{ base_url }}{% static 'airtable_generator/css/tweets.css' %}">
{% else %}
<link rel="stylesheet" href="{{ base_url }}{% static 'airtable_generator/css/tweets_light.css' %}">
{% endif %}
<script src="https://unpkg.com/vue@3"></script>
<div id="tweet-generator" onload="mountApp(this.id)">{% if static_tweets != 'true' %}
  <div class="tweet-generator-button" data-test="testing">
    {% if gather_emails %}<input type="email" name="email_address" v-model="email"><br>
    <input type="checkbox" name="opt_in" id="opt_in" v-model="optIn">
    <label for="opt_in">{{ consent_text | markdownify }}</label><br>{% endif %}
    <button @click=getTweets type="button" name="generateTweets" class="{{ button_class }}">Generate Tweets!</button>
  </div>{% endif %}
  <div>
    <div v-for="tweet of tweets" @click="tweetClicked(tweet)" :tweet="tweet" onClick="madeTweet()">
      <a :href="tweet.ctt" target="_blank" class="tweet-link">
        <div class="tweet" v-html=tweet.html>
        </div>
      </a>
    </div>
  </div>
</div>
<script src="{{ base_url }}/airtable/{{ config_id }}/embed.js?targetView={{ targetView }}&tweetView={{ tweetView }}&tweets={{ maxTweets }}&baseUrl={{ base_url }}&preload={{ static_tweets }}" charset="utf-8"></script>
