<div class="tweetsSent">

</div>
<script type="text/javascript">
  let tweetsSent;
  let newTweets;
  function httpGetAsync(theUrl, callback) {
    let xmlHttpReq = new XMLHttpRequest();
    xmlHttpReq.onreadystatechange = function () {
      if (xmlHttpReq.readyState == 4 && xmlHttpReq.status == 200)
        callback(xmlHttpReq.responseText);
    }
    xmlHttpReq.open("GET", theUrl, true); // true for asynchronous
    xmlHttpReq.send(null);
  }
  function getTweetsSent() {
    httpGetAsync("{{ base_url }}/airtable/{{ config_id }}/tweets_sent", function(res) {
      data = JSON.parse(res);
      newTweets = data['tweets_sent'] - tweetsSent;
      updateSlowly = setInterval;
    })
  }
  function updateTweetNumber(){
    tweetCounters = document.getElementByClass('tweetsSent');
    tweetCounters.forEach((counterElement, i) => {
      counterElement.innerHTML = tweetsSent
    });
  }
  getTweetsSent()
</script>
